@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Implement font family to entire web*/
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
}
/*img{*/
/*    border-radius: 50%;*/
/*}*/

.logo{
    height: 80px;
    margin-right: 4em;
    margin-left: 1em;
}

.mainImage{
    height:80px;
    width: 50px;
}
/*----------------------------------------------------------------*/
video{
    width: 100vw;
    height: 885px;
    object-fit: fill;
    /*object-position: 50% 35%;*/
    /*transform: scale(1);*/
}

.video-section{
    display: block;
}

.beeclark-top-content {
    display: block;
    box-sizing: border-box;
    all: unset;
    unicode-bidi: isolate;
}

#row-color{
    background-color: aqua;
}

.addColor{
    background-color: red;
}


/* Remove text underline */
/* #typewriter {
    text-decoration: none;
} */
footer{
    color: #fff;
}


