@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Implement font family to entire web*/
* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

.gradient-color{
    /*background: linear-gradient(to top, #170075 ,  white);*/
    background: white;
    padding-bottom: 5em;
}

/* Estilos del logotipo */
.logo {
    height: 80px;
    margin-right: 4em;
    margin-left: 1em;
}

h1{
    color:black;
}



h2{
    font-size: 1.5em;
    color: white;

}


/* Configuración del video */
.bg-video {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-size: contain;
    margin-bottom: 10em;
}

.bg-video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(255, 0, 0, 0.5); !* Semi-transparent red *!*/
    /*background-image: url("assets/images/tech-overlay.png");*/
    background-size: contain;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    width: 100%;
    height: 90vh;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

/* Estilos del contenido */
.content {
    position: absolute;
    width: 700px;
    height: 600px;
    display: block;
    align-items: start;
    justify-content: start;
    /* top: 45%;
    left: 70%; */
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 20px;
    top: 50%;
    left: 50%;
}


/* Estilos del texto de la máquina de escribir */
.typewritter {
    font-size: 65px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0.1em;
}

/*ABOUT SECTION*/
.section-container{
    margin-top: 10em;
    padding-top: 8em;
}
.section-title{
    font-size: 80px;
    font-weight: bold;
}

.section-subtitle{
    font-size: 40px;

}

/*Cards Design*/
/*.card-group {*/
/*    margin-bottom: 15em;*/
/*    margin-top: 5em;*/
/*}*/

.card {
    overflow: hidden;
    position: relative;
    flex: 1 0 auto;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
    width: 100%;
    /*margin: 2em;*/
    /*border-width: .5em;*/
    color:white;
    /*border-color: white;*/
    /*background-color: rgba(11, 11, 11, 0.42);*/

}

.card-title{
    font-size: 40px;
    font-weight: bold;
    padding-top: .5em;
}

.card-body {
    min-height: 0;
}

.card-text{
    padding-bottom: 3em;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    /*border-width: .5em;*/
    /*color:white;*/
}

/*First Section of Cards*/
.about-cards{
    margin-top: 6em;
    margin-bottom: 12em;

}

.card-color{
    background: linear-gradient(to top, #170075 , #9c8dda);
}

/*Image Sizes*/
#team, #vision{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

/*Carousel*/

.carousel{
    margin-top: 0;
    margin-bottom: 5em;
}

.carousel-content{
    color: white;
    padding: 2em;
}






/* Remove text underline */
/* #typewriter {
    text-decoration: none;
} */
#nav-1 {
    background-color: #1a61b3;
}

.bi {
    color: white;
}

footer {
    /*background-color: #4c3dcc;*/
    color: #fff;
    padding-bottom: 2em;
}

.bg-primary {
    background-color: #1c0374;
}


/*Fade-In Animation*/
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
    transform: translateY(50px);
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.test {
    background-color: rgba(0, 0, 0);
    color: #fff;
}

.orange {
    color: #a05000;
}

.purple {
    color: #170075;
}

.white{
    color: white;
}

/*!* some hover effects *!*/
/*a {*/
/*    opacity: 0.5;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    opacity: 1;*/

/*}*/



/*!* Center the alert vertically and horizontally *!*/
/*.alert {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 80%;*/
/*    transform: translate(-50%, -50%);*/
/*    !* background-color: #f9f9f9; *!*/
/*    border: 1px solid #ddd;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);*/
/*    z-index: 9999; !* Ensure it's on top of other elements *!*/
/*}*/



